  body {
    background-color: #c7c9cc;
    color: black;
    font-family: "Gill Sans", sans-serif;  font-size: 22px; 
    text-align:center;
  }
  .btn-toolbar button {
    font-family: "Gill Sans", sans-serif;  font-size: 22px; 
    background-color: #9ea3f0; /* Green background */
    border: 1px solid #9ea3f0; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
  }
  
  .btn-toolbar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-toolbar:after {
    content: "";
    clear: both;
    display: table;
  }
  button { margin: 15px 15px }
  /* Add a background color on hover */
  button:hover {
    background-color: #a9bcf0;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .stepDescription {
    display: none; 
    width: 700px; height: 350px; margin-top: 5px; margin-left: auto; margin-right: auto;   
    background: rgba(255,255,255,0.3);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
  }

  .benchmarkDescription {
    display: none; 
    width: 300px; height: 350px; margin-top: 50px; margin-left: 150px; margin-right: auto;   
    background: rgba(255,255,255,0.3);
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
  }

  .benchmarkDescriptionLeft {
    width: 300px; height: 350px; margin-top: 50px; margin-left: 150px;   
    background: rgba(255,255,255,0.3);
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
  }

  .benchmarkDescriptionRight {
    margin-left: 50%; 
    width: 500px; height: 350px; margin-top: 50px;   
    background: rgba(255,255,255,0.3);
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
  }

/* Slideshow container */
.slideshow-container {
  display: none; 
  background: #f1f1f1f1;
  width: 800px;
  height: 500px; 
  margin-left: 22%; 
  margin-right: 30%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  margin-right: 10px; 
  margin-left: 10px; 
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -400px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 320px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: #9ea3f0;}
  
  